@font-face {
  font-family: 'Marianne';
  src: url('/fonts/marianne/Marianne-Regular.woff2') format('woff2'),
    url('/fonts/marianne/Marianne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('/fonts/marianne/Marianne-Bold.woff2') format('woff2'),
    url('/fonts/marianne/Marianne-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('/fonts/marianne/Marianne-Light.woff2') format('woff2'),
    url('/fonts/marianne/Marianne-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
